.root {
    display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

}

.image {
    flex: 1 1 300px;
    margin-right: 20px;

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }
}

.info {
    flex: 1 1 400px;

    .name {
        font-size: 36px;
        margin-bottom: 15px;
        color: #333;
    }

    .price {
        font-size: 36px;
        margin-bottom: 15px;
        color: #1677ff; 
    }

    p {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 20px;
        color: #555;
    }
}

.details {
    p {
        margin: 0;
        font-size: 16px;
        color: #777;
    }
}

.actionButton {
    width: 100%;
}